@charset "UTF-8";
*{
/*    font-family: Microsoft YaHei,-apple-system,SF UI Text,Arial,PingFang SC,Hiragino Sans GB,WenQuanYi Micro Hei,sans-serif;*/
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
ol,ul{  list-style: none;  }
li{
    list-style: auto !important;
}
em,b{
	font-style: normal;
}

/*链接、已访问过、鼠标悬停、点下鼠标，LVHA*/
a:link, a:visited {  text-decoration: none;color: #f7f7f7;border: none;  }
a:hover, a:active {  text-decoration: none;color: #f7f7f7;border: none;  }
/*苹果机上多行文本框和输入框有默认阴影，-webkit-appearance: none;这条属性如果放在pc端会使radio宽高为0*/
input{  box-shadow:0px 0px 0px rgba(0,0,0,0); -webkit-appearance: none;  }
textarea{  box-shadow:0px 0px 0px rgba(0,0,0,0); -webkit-appearance: none;  }
/*button按钮去除边框和外边框*/
button{  border:0px; outline: 0px;  }
/*调整placeholder样式*/
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {  color: #999999;  } 
input:-moz-placeholder, textarea:-moz-placeholder {  color: #999999;  } 
input::-moz-placeholder, textarea::-moz-placeholder {  color: #999999;  } 
input:-ms-input-placeholder, textarea:-ms-input-placeholder {  color: #999999;  }
/*----------------------------------------移动端样式，兼容重置#----------------------------------------*/


/*----------------------------------------#淘宝移动端fiexible样式重置----------------------------------------*/
@charset "utf-8";
html{color:#000;background:#fff;overflow-y:scroll;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}
html *{outline:0;-webkit-text-size-adjust:none;-webkit-tap-highlight-color:rgba(0,0,0,0)}
html,body{font-family:sans-serif}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{margin:0;padding:0}
input,select,textarea{font-size:100%}
table{border-collapse:collapse;border-spacing:0}
fieldset,img{border:0}
abbr,acronym{border:0;font-variant:normal}
del{text-decoration:line-through}address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:500}
ol,ul{list-style:none}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:500}
q:before,q:after{content:''}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sup{top:-.5em}
sub{bottom:-.25em}
a:hover{text-decoration:underline}
ins,a{text-decoration:none}
/*----------------------------------------淘宝移动端fiexible样式重置#----------------------------------------*/


/*----------------------------------------#弹性盒子----------------------------------------*/
[flex],[flex] * {  box-sizing:border-box  }
[flex] {  display:-webkit-flex;  display:flex  }

[fd=ro] {  flex-direction:row; -webkit-flex-direction:row;  }
[fd=rr] {  flex-direction:row-reverse; -webkit-flex-direction:row-reverse;  }
[fd=co] {  flex-direction:column; -webkit-flex-direction:column;  }
[fd=cr] {  flex-direction:column-reverse; -webkit-flex-direction:column-reverse;  }

[fw=no] {  flex-wrap:nowrap; -webkit-flex-wrap:nowrap;  }
[fw=wr] {  flex-wrap:wrap; -webkit-flex-wrap:wrap;  }
[fw=re] {  flex-wrap:wrap-reverse; -webkit-flex-wrap:wrap-reverse;  }

[jc=fs] {  justify-content:flex-start; -webkit-justify-content:flex-start;  }
[jc=fe] {  justify-content:flex-end; -webkit-justify-content:flex-end;  }
[jc=ce] {  justify-content:center; -webkit-justify-content:center;  }
[jc=sb] {  justify-content:space-between; -webkit-justify-content:space-between;  }
[jc=sa] {  justify-content:space-around; -webkit-justify-content:space-around;  }

[ai=fs] {  align-items:flex-start; -webkit-align-items:flex-start;  }
[ai=fe] {  align-items:flex-end; -webkit-align-items:flex-end;  }
[ai=ce] {  align-items:center; -webkit-align-items:center;  }
[ai=st] {  align-items:stretch; -webkit-align-items:stretch;  }
[ai=ba] {  align-items:baseline; -webkit-align-items:baseline;  }

[ac=fs] {  align-content:flex-start; -webkit-align-content:flex-start;  }
[ac=fe] {  align-content:flex-end; -webkit-align-content:flex-end;  }
[ac=ce] {  align-content:center; -webkit-align-content:center;  }
[ac=st] {  align-content:stretch; -webkit-align-content:stretch;  }
[ac=sb] {  align-content:space-between; -webkit-align-content:space-between;  }
[ac=sa] {  align-content:space-around; -webkit-align-content:space-around;  }



[as=fs] {  align-self:flex-start; -webkit-align-self:flex-start;  }
[as=fe] {  align-self:flex-end; -webkit-align-self:flex-end;  }
[as=ce] {  align-self:center; -webkit-align-self:center;  }
[as=ba] {  align-self:baseline; -webkit-align-self:baseline;  }
[as=st] {  align-self:stretch; -webkit-align-self:stretch;  }
/*----------------------------------------弹性盒子#----------------------------------------*/

/*vue样式闪烁*/
[v-cloak] {
  display:none !important;
}

/*----------------------------------------#样式----------------------------------------*/
[lh="1"]{
    overflow:hidden; 
    white-space:nowrap;
    text-overflow:ellipsis;
}
[lh="2"]{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.ex1{  pointer-events: none； }
.ex2{  overflow:hidden; white-space:nowrap;text-overflow:ellipsis;  }
.ex3{  overflow: hidden;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;  }
.ex4{  padding: 15px 0px; line-height: 1; }/*文字在安卓机上垂直不居中,不设置高，用上下padding撑开，line-height给1*/
.ex5{ /*水平垂直居中于父容器，父容器需要给予一个定位*/
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}
.ex6{ /*容器拥有唯一一个子元素，让它水平垂直于本容器*/
    display: -webkit-flex; /* Safari */
    display: flex;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
}
/*这里定义一些颜色和字体大小*/
[co="1"]{
    color: #fff;
}
[fs="18"]{
    font-size: 18px;
}
.bg{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left:0;
    background: #000;
    opacity: 0.4;
    z-index: 9999;
}
/*----------------------------------------样式#----------------------------------------*/



/*----------------------------------------#移动端弹框----------------------------------------*/
/*M*/
/*普通提示弹框*/
.alertm1{
    min-width: 4rem;
    min-height: 1.4rem;
    padding: 0.3rem 0.4rem;
    background: rgba(0,0,0,0.5);
    transform:translate(-50%, 0);
    -ms-transform:translate(-50%, 0);
    -webkit-transform:translate(-50%, 0);
    -o-transform:translate(-50%, 0);
    -moz-transform:translate(-50%, 0);
    position: fixed;
    z-index: 100000;
    top: 40%;
    left:50%;
    margin-top: 0rem;
    border-radius: 12px;
    color: #fff;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
    align-items:center;
    -webkit-align-items:center;
    animation: alertm1_skyset 3s linear 1  forwards;
    -webkit-animation: alertm1_skyset 3s linear 1  forwards;
    -moz-animation: alertm1_skyset 3s linear 1  forwards;
    -webkit-animation: alertm1_skyset 3s linear 1  forwards;
    -o-animation: alertm1_skyset 3s linear 1  forwards;
}
.alertm1 span{
    color: #fff;
    text-align: center;
    font-size: 0.38rem;
    line-height: 0.6rem;
}
/*弹框公共动画样式*/
@keyframes alertm1_skyset {
    0% { opacity: 0}
    6% { opacity: 1}
    85%{ opacity: 1}
    100% { opacity: 0}
}
@-webkit-keyframes alertm1_skyset {
    0% { opacity: 0}
    6% { opacity: 1}
    85%{ opacity: 1}
    100% { opacity: 0}
}
@-moz-keyframes alertm1_skyset {
    0% { opacity: 0}
    6% { opacity: 1}
    85%{ opacity: 1}
    100% { opacity: 0}
}
@-webkit-keyframes alertm1_skyset {
    0% { opacity: 0}
    6% { opacity: 1}
    85%{ opacity: 1}
    100% { opacity: 0}
}
@-o-keyframes alertm1_skyset {
    0% { opacity: 0}
    6% { opacity: 1}
    85%{ opacity: 1}
    100% { opacity: 0}
}
/*弹框公共动画样式#*/

.alertm2{
    width: 7rem;
    height: 2.8rem;
    padding: 0.8rem 0rem 0rem 0rem;
    background: #fff;
    transform:translate(-50%, -50%);
    -ms-transform:translate(-50%, 0);
    -webkit-transform:translate(-50%, 0);
    -o-transform:translate(-50%, 0);
    -moz-transform:translate(-50%, 0);
    position: fixed;
    z-index: 100000;
    top: 40%;
    left:50%;
    color: #fff;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    flex-direction: column;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    align-items:center;
    -webkit-align-items:center;
    border-radius: 0.2rem;
    overflow: hidden;
}
.alertm2>span{
    font-size: 0.4rem;
}
.alertm2>div{
    width: 100%;
    height: 1rem;
    background: #ccc;
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    align-items:center;
    -webkit-align-items:center;
}
.alertm2>div>button{
    flex:1;
    -webkit-flex:1;
    height: 1rem;
    font-size: 0.4rem;
}
.alertm2>div>button:nth-child(1){
    background: #dcdada;
}
.alertm2>div>button:nth-child(2){
    background: #e8e9e9;
}

/*----------------------------------------弹框#----------------------------------------*/

/*作者那里，上边部分文字被遮住小部分*/
.left p *{
    padding-top: 0.1rem;
}

.cube-pullup-wrapper{
    display: none;
}
.mod{
    width: 100%;
    height: 2rem !important;
}
.mod>span{
    color: #ccc;
    font-size: 0.35rem;
}

