<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
  <title>卡双平</title>

  <link rel="stylesheet" href="mui/css/mui.min.css">

  <script src="js/fiexible.js"></script>
  <link rel="stylesheet" href="css/main.css">

  <link rel="stylesheet" href="css/login.css">

</head>
<body>

  <header class="mui-bar mui-bar-nav" id="experthead" style="z-index:999">
      <a class="mui-icon-left-nav mui-icon mui-icon-arrowleft headback" onClick="javascript :history.back(-1);"></a>
      <h1 class="mui-title">登录</h1>
  </header>
  
  <div id="app" class="login">
  	<div class="loginBox">
  		<input class="name" type="text" placeholder="用户名" v-model="acc">
  		<input class="pas" type="password" placeholder="密码" v-model="pas">
      <a class="loginBut" @click="loginBut">登录</a>
      <a class="regBut" href="reg.html">注册</a>
  	</div>
  </div>



<script src="js/vue.js"></script>
<script src="mui/js/mui.min.js"></script>  
<script src="js/main.js"></script>
<script src="js/jquery.min.js"></script>
<script src="js/login.js"></script>
</body>
</html>