<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
  <title>答题</title>
  <script src="js/fiexible.js"></script>
  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="css/ans.css">
</head>
<body>
  <div id="app" v-cloak>
    <div class="topbar">
      <a class='topl' href="javascript:history.go(-1)"></a>
      <a class="cen">我的答题</a>
      <a class='topr' href="index.html"></a>
    </div>
		<div class="main">
      
			<ul>
        <li v-for="(item,index) in data">
            <h1>{{(index+1)+"、"+item.title}}</h1>
            <div>
              <p>
                <input type="radio" :name="index+1" value="1" v-model="item.value" disabled="true">
                <em :class="{ems:item.value==item.ans&&item.value==1}">A、{{item.qus1}}</em>
              </p>
              <p>
                <input type="radio" :name="index+1" value="2" v-model="item.value" disabled="true">
                <em :class="{ems:item.value==item.ans&&item.value==2}">B、{{item.qus2}}</em>
              </p>
              <p>
                <input type="radio" :name="index+1" value="3" v-model="item.value" disabled="true">
                <em :class="{ems:item.value==item.ans&&item.value==3}">C、{{item.qus3}}</em>
              </p>
              <p>
                <input type="radio" :name="index+1" value="4" v-model="item.value" disabled="true">
                <em :class="{ems:item.value==item.ans&&item.value==4}">D、{{item.qus4}}</em>
              </p>
            </div>
            <h2>
              <span v-show="item.ans==1">正确答案：A</span>
              <span v-show="item.ans==2">正确答案：B</span>
              <span v-show="item.ans==3">正确答案：C</span>
              <span v-show="item.ans==4">正确答案：D</span>
            </h2>
            
        </li>
      </ul>
		</div>
  </div>
<script src="js/vue.js"></script>
<script src="js/jquery.min.js"></script>
<script src="js/main.js"></script>
<script src="js/ans.js"></script>
</body>
</html>