<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	<title>联系我们</title>
	<link rel="stylesheet" href="font/iconfont.css">
	<link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" href="css/contact.css">
	<style type="text/css">
	    /*去除百度地图版权*/
	    .anchorBL{
	    display:none;
	    }
	  </style>
	<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=gteNZ26e2yZrLf0KaVxtuLat0Y1tNvxp"></script>	

</head>
<body>

<div id="app">
	
	<div id="header" class="header">
		<div class="headerTop">

			<a href="index.html"><img src="img/logo.png" class="logo" height="74" width="193" alt="" /></a>
			
			<a href="search.html"><input type="text" class="search" placeholder="请输入要搜索的关键词"></a>
			
			<img src="img/searchLogo.png" class="searchLogo" height="21" width="21" alt="" />
			
		</div>
		<div id="navBox" class="navBox">
			<div class="navB">
				<ul class="nav clearfix">
					<li><a :class="{ navSign: navSign==1}" href="javascript:void(0);">首页</a></li>
					<li><a href="vid.html">视频</a></li>
					<li><a href="article.html">文章</a></li>
					<li><a href="play.html">直播</a></li>
					<li><a href="case.html">病例</a></li>
					<li><a href="expert.html">专家</a></li>
					<li><a href="quesition.html">问答</a></li>
				</ul>


				<div class="logReg" v-if="userMsg == false">
					<a href="login.html">登录</a>
					<span>|</span>
					<a href="regPhone.html">注册</a>
				</div>

				<div class="logUser" v-if="userMsg">
					<div>
						<a href="msg.html"><img src="img/sm.png" alt=""></a>
						<span>3</span>
						<div class="UserHead">
							<a href="user.html"><img src="img/zji.jpg" alt=""></a>
						</div>
					</div>
					<ul>
						<li @click="touser(1)"><i class="iconfont icon-shoucang"></i>我的收藏</li>
						<li @click="touser(2)"><i class="iconfont icon-fabuxiangmu"></i>我的发布</li>
						<li @click="touser(3)"><i class="iconfont icon-guanzhu"></i>我的关注</li>
						<li @click="touser(4)"><i class="iconfont icon-shezhi"></i>个人设置</li>
						<li @click="touser(5)"><i class="iconfont icon-Opinion"></i>意见反馈</li>
						<li @click="touser(6)"><i class="iconfont icon-dingdan"></i>订单       </li>
						<li @click="touser(7)"><i class="iconfont icon-yaoqingma"></i>邀请码    </li>
						<li @click="signOut()"><i class="iconfont icon-tuichu"></i>退出       </li>
					</ul>
				</div>



			</div>
		</div>
	</div>



	<div id="main" class="main">

		<div class="main-content">
			
			

			<div class="conUsRight">
	            <p class="conUsRightP1"><span></span><span>联系我们</span><span></span></p>
	            <p class="conUsRightP1">Contact&nbsp;us</p>

	            <div id="allmap"></div>

	            <p class="conUsRightP2"><img src="img/us_03.png" height="30" width="29" alt="">地址：北京市朝阳区高碑店西店村B区45-9</p>
	            <p class="conUsRightP2"><img src="img/us_06.png" height="30" width="29" alt="">电话：010-85354892</p>
	            <p class="conUsRightP2"><img src="img/us_08.png" height="30" width="29" alt="">邮箱：xytougao@163.com</p>

	        </div>



		</div>


		
		
		

	</div>

	<div id="footer" class="footer">

		<div class="footerB">
			
			<div class="firendLink">
				<p>友情链接</p>
				<div class="clearfix">
					<a href="http://www.baidu.com">国家卫计委</a>
					<a href="http://www.baidu.com">世界卫生组织</a>
					<a href="http://www.baidu.com">国家食品药品监督管理局</a>
					<a href="http://www.baidu.com">国家中医药管理局</a>
					<a href="http://www.baidu.com">中国医疗</a>
					<a href="http://www.baidu.com">新浪健康</a>
					<a href="http://www.baidu.com">搜狐健康</a>
					<a href="http://www.baidu.com">凤凰健康</a>
					<a href="http://www.baidu.com">百姓健康</a>
					<a href="http://www.baidu.com">爱爱医</a>
					<a href="http://www.baidu.com">网易健康</a>
					<a href="http://www.baidu.com">MedSci</a>
					<a href="http://www.baidu.com">医学论坛网</a>
					<a href="http://www.baidu.com">华西医院</a>
					<a href="http://www.baidu.com">北京协和医院</a>
					<a href="http://www.baidu.com">北京朝阳医院</a>
					<a href="http://www.baidu.com">医保卡余额查询</a>
				</div>
				<p>合作媒体</p>
				<div class="clearfix">
					<a href="http://www.baidu.com">人民日报</a>
					<a href="http://www.baidu.com">北京新闻网</a>
					<a href="http://www.baidu.com">北京周报</a>
				</div>
			</div>
			<div class="erweima">
				<div>
					<span>关注微信</span>
					<img src="img/erweima2.png" width="112" height="98" alt="二维码" />
				</div>
				<p>
					<a href="about.html">关于我们</a>
					<span>|</span>
					<a href="javascript:void(0)">联系我们</a>
					<span>|</span>
					<a @click="tofeed">意见反馈</a>
				</p>
			</div>

		</div>

		
	</div>

</div>
	
	
<script src="js/vue.js"></script>
<script src="js/jquery.min.js"></script>
<script src="js/main.js"></script>
<script src="js/contact.js"></script>
</body>
</html>