<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	<title>通知消息</title>
	<link rel="stylesheet" href="font/iconfont.css">
	<link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" href="css/msg.css">
</head>
<body>

<div id="app">
	
	<div id="header" class="header">
		<div class="headerTop">

			<a href="index.html"><img src="img/logo.png" class="logo" height="74" width="193" alt="" /></a>
			
			<a href="search.html"><input type="text" class="search" placeholder="请输入要搜索的关键词"></a>
			
			<img src="img/searchLogo.png" class="searchLogo" height="21" width="21" alt="" />
			
		</div>
		<div id="navBox" class="navBox">
			<div class="navB">
				<ul class="nav clearfix">
					<li><a href="index.html">首页</a></li>
					<li><a href="vid.html">视频</a></li>
					<li><a href="article.html">文章</a></li>
					<li><a href="play.html">直播</a></li>
					<li><a href="case.html">病例</a></li>
					<li><a href="expert.html">专家</a></li>
					<li><a href="quesition.html">问答</a></li>
				</ul>


				<div class="logReg" v-if="userMsg == false">
					<a href="login.html">登录</a>
					<span>|</span>
					<a href="regPhone.html">注册</a>
				</div>

				<div class="logUser" v-if="userMsg">
					<div>
						<a href="msg.html"><img src="img/sm.png" alt=""></a>
						<span>3</span>
						<div class="UserHead">
							<a href="user.html"><img src="img/zji.jpg" alt=""></a>
						</div>
					</div>
					<ul>
						<li @click="touser(1)"><i class="iconfont icon-shoucang"></i>我的收藏</li>
						<li @click="touser(2)"><i class="iconfont icon-fabuxiangmu"></i>我的发布</li>
						<li @click="touser(3)"><i class="iconfont icon-guanzhu"></i>我的关注</li>
						<li @click="touser(4)"><i class="iconfont icon-shezhi"></i>个人设置</li>
						<li @click="touser(5)"><i class="iconfont icon-Opinion"></i>意见反馈</li>
						<li @click="touser(6)"><i class="iconfont icon-dingdan"></i>订单       </li>
						<li @click="touser(7)"><i class="iconfont icon-yaoqingma"></i>邀请码    </li>
						<li @click="signOut()"><i class="iconfont icon-tuichu"></i>退出       </li>
					</ul>
				</div>



			</div>
		</div>
	</div>



	<div id="main" class="main">

		<div class="main-content">
			
			<ul class="msgNav">
				<li @click="msgType(1)" :class="{ msgSign : msgSign == 1 }"><i class="iconfont icon-xiaoxi"></i><span>评论我的</span><span>10</span></li>
				<li @click="msgType(2)" :class="{ msgSign : msgSign == 2 }"><i class="iconfont icon-tongzhi"></i><span>通知</span><span>5</span></li>
			</ul>

			<div class="msgRight" v-show="msgSign == 1">
				
				<div v-for="(item,index) in msgd0">
					<img src="img/hg.png" alt="">
					<p>
						<a href="">{{item.name}}</a>
						<em>在</em>
						<a href="">{{item.msg}}</a>
						<span>{{item.msg2}}</span>
					</p>
					<span>{{item.time}}</span>
				</div>

			</div>

			<div class="msgRight2" v-show="msgSign == 2">
			<!-- <div class="msgRight2" > -->
				
				<div v-for="(item,index) in msgd">
					<img src="img/hg.png" alt="">
					<p class="pSign"><span>{{item.msg}}</span></p>
					<span>{{item.time}}</span>
					<i class="iconfont icon-xia"></i>
				</div>	

			</div>

		</div>


		
		
		

	</div>

	<div id="footer" class="footer">

		<div class="footerB">
			
			<div class="firendLink">
				<p>友情链接</p>
				<div class="clearfix">
					<a href="http://www.baidu.com">国家卫计委</a>
					<a href="http://www.baidu.com">世界卫生组织</a>
					<a href="http://www.baidu.com">国家食品药品监督管理局</a>
					<a href="http://www.baidu.com">国家中医药管理局</a>
					<a href="http://www.baidu.com">中国医疗</a>
					<a href="http://www.baidu.com">新浪健康</a>
					<a href="http://www.baidu.com">搜狐健康</a>
					<a href="http://www.baidu.com">凤凰健康</a>
					<a href="http://www.baidu.com">百姓健康</a>
					<a href="http://www.baidu.com">爱爱医</a>
					<a href="http://www.baidu.com">网易健康</a>
					<a href="http://www.baidu.com">MedSci</a>
					<a href="http://www.baidu.com">医学论坛网</a>
					<a href="http://www.baidu.com">华西医院</a>
					<a href="http://www.baidu.com">北京协和医院</a>
					<a href="http://www.baidu.com">北京朝阳医院</a>
					<a href="http://www.baidu.com">医保卡余额查询</a>
				</div>
				<p>合作媒体</p>
				<div class="clearfix">
					<a href="http://www.baidu.com">人民日报</a>
					<a href="http://www.baidu.com">北京新闻网</a>
					<a href="http://www.baidu.com">北京周报</a>
				</div>
			</div>
			<div class="erweima">
				<div>
					<span>关注微信</span>
					<img src="img/erweima2.png" width="112" height="98" alt="二维码" />
				</div>
				<p>
					<a href="about.html">关于我们</a>
					<span>|</span>
					<a href="contact.html">联系我们</a>
					<span>|</span>
					<a @click="tofeed">意见反馈</a>
				</p>
			</div>

		</div>

		
	</div>

</div>
	
	
<script src="js/vue.js"></script>
<script src="js/jquery.min.js"></script>
<script src="js/main.js"></script>
<script src="js/msg.js"></script>
</body>
</html>